/* ------------------------------ Fonts ------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

/* ------------------------------ Body ------------------------------ */

body {
    width: auto;
    background-color: #DCDCD0
}

.main {
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #4F8868;
    background-size: cover;
}

.main h1 {
    font-size: 600%;
    line-height: 125%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Bungee Shade', 'Roboto Condensed', sans-serif;
}

.main h3 {
    font-size: 175%;
    margin-top: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

.social {
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
    font-size: 300%;
    color: #4F8868;
}

.social a {
    color: #4F8868;
    transition: all 0.3s;
}

.social a:hover {
    color: #2F513D;
}

/* ------------------------------ Media Queries ------------------------------ */

@media screen and (max-width: 900px) {
    
}

@media screen and (max-width: 768px) {
    .main h1 {
        font-size: 800%;
    }
}

@media screen and (max-width: 480px) {
    
}